
@media (max-width: 767px){
  .sidebar {
    max-width: 120px;
    min-width: 120px;
  }
}

@media (min-width:767px){
   .sidebar {
     min-width: 240px;
     text-align: center;
   }
}
.sidebar {
  width: 240px;
  height: 100vh
}
