.card-list__container{
  overflow-y: auto;
  max-height: 90vh;
  height: auto;
}
.verse-number {
  font-size: smaller;
  font-style: italic;
  margin-right: 5px;
}
.text-box {
  min-height: 20vh;
}
.card-body {
  color: white;
}

.card-body:hover{
  color:burlywood;
  transition: 0.3s ease;
  cursor: pointer;
}
.selected-card {
  color:burlywood;
}
