

<div class="row card-list__container">
  <div *ngIf="mostrarSpinner">
    <!-- spinner -->
    <button class="btn btn-dark" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>

  </div>

  <div *ngFor="let gif of gifs" class="col-md-3 col-sm-6" (click)="onCardClick(gif)" >
    <div *ngIf="!mostrarSpinner">
      <div class="card mb-2 bg-dark text-center">
        <!-- TODO: crear imagen  -->
        <div class="card-body text-white">
          <h2>{{gif.concordancia}}</h2>
          <p class="card-text mt-2">
            {{gif.relacion}}
          </p>
        </div>
      </div>
    </div>

  </div>

  <div >
    <div *ngIf="showText" class="mt-5" style="display: flex; justify-content: center;">
      <!-- spinner -->
      <button class="btn btn-dark" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>

    </div>
    <div *ngIf="!showText" class="p-4">
      <h2>{{selectedConcordancia.libro}} {{selectedConcordancia.capitulo}}</h2>
      <p *ngFor="let vers of text">
        <span class="verse-number">({{vers.number}})</span>{{vers.verse}}
      </p>
    </div>
  </div>

</div>
